<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/plantilla :: head}">
</head>
<body>
	<header th:replace="~{plantilla/plantilla :: header}"></header>
	<div class="container">
	
	
		<div class="card mt-3">
			<div class="card-header" th:text="${titulo} + ' ' + ${autor}"></div>
			<div class="card-body">				
				<h5 class="card-title">
					<a th:href="@{/form}" class="btn btn-dark mb-3 btn-lg"
						style="float: right">Agregar cliente</a>
				</h5>
				<table class="table table-striped" border="2">
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Fecha creación</th>
						<th>Editar</th>
						<th>Borrar</th>
					</tr>
					<tr th:each="cliente : ${clientes}">
						<td> <a th:href="@{/verDetalle/} + ${cliente.id}" th:text="${cliente.id}"
						class="btn btn-primary btn-xs"></a></td>
						<td th:text="${cliente.nombre}"></td>
						<td th:text="${cliente.apellido}"></td>
						<td th:text="${cliente.email}"></td>
						<td th:text="${cliente.createAt}"></td>
						<td><a th:href="@{/form/} + ${cliente.id}"
							class="btn btn-dark">Editar</a></td>
						<td><a th:href="@{/eliminar/} + ${cliente.id}"
							class="btn btn-danger"
							onclick="return confirm('Esta seguro de borrar el cliente' )">Borrar</a>
					</tr>
				</table>
				<nav th:replace="paginador :: paginador"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="~{plantilla/plantilla :: footer}"> </footer>
</body>
</html>